<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}
    <div class="mb-3">
        <label for="{{ campo.name }}" class="form-label">{{ campo.label }}:</label>
        {% if campo.field.widget.input_type == 'file' and campo.value %}
        <img src="{{ MEDIA_URL}}/imagenes/{{ campo.value }}" width="100" alt=""><br/>
        {% endif %}
        <input type="{{ campo.field.widget.input_type }}"
               name="{{ campo.name }}"
               id="{{ campo.name }}"
               placeholder="{{ campo.label }}"
               aria-describedby="helpId"
               value="{{ campo.value | default:'' }}"
        >
    </div>
    <div class="col-12 help-text">{{ campo.errors}}</div>
    {% endfor %}
    <input type="submit" value="Enviar" name="" id="" class="btn btn-success">
    <a href="{% url 'libros' %}" class="btn btn-primary" role="button">Cancelar</a>
</form>